.*
~*
*.docx
*.zip
*/*/*/__pycache__/
*/checkpoints
Lab3/src/2048_main/2048_sample.cpp
*/src/script1.sh
Lab4-2/dataset/data
Lab5/dataset
Lab5/logs
Lab5/src/demo.sh
Lab6/log
Lab6/src/dqn-example.py
Lab6/src/ddpg-example.py
